{% extends 'base_iniciar_sesion.html'%}
{% block title %}
<title>Ingreso de usuarios</title>
  {% endblock %}

{% block login%}
<div class="login-box d-flex p-4" style="width: 500px;">
  <!-- /.login-logo -->
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="{% url 'usuarios:login' %}" class="h1"><b>SAV</b>-C</a>
    </div>
    <div class="card-body ">
      <p class="login-box-msg d-flex justify-content-center">Inicio de sesion</p>

      <form  method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% if form.errors %}
          <div class="alert alert-danger" role="alert">
            Usuario o contraseña incorrectos
          </div>
        {% endif %}

   
        <div class="row">
          <div class="col-8 ">
            <div class="icheck-primary">
              <input type="checkbox" id="remember">
              <label for="remember">
                Recordar contraseña
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Iniciar sesion </button>
          </div>
          <!-- /.col -->
        </div>
      </form>

   

    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
{% endblock %}