{% extends 'base.html' %}

{% block title %}Grasas y aceites vegetales{% endblock %}



{% block principal %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Grasas y aceites vegetales</h1>
                <p>En esta sección se presentan los resultados de los análisis de grasas y aceites vegetales.</p>
                <p>Para ver los resultados de un análisis, seleccione el análisis deseado en el menú de la izquierda.</p>
            </div>
        </div>
    </div>
{% endblock %}