{% extends 'base.html' %}

{% block title %}Mezcla oleosa de vitaminas{% endblock %}

{% block principal %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Mezcla oleosa de vitaminas</h1>
                <p>En esta sección se presentan los resultados de los análisis de mezcla oleosa de vitaminas.</p>
                <p>Para ver los resultados de un análisis, seleccione el análisis deseado en el menú de la izquierda.</p>
            </div>
        </div>
    </div>
{% endblock %}