{% extends 'base.html' %}
{% block title %}Soluciones valoradas de titulación simple{% endblock %}
{% block principal %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Soluciones valoradas de titulación simple</h1>
                <p>En esta sección se presentan los resultados de los análisis de soluciones valoradas de titulación simple.</p>
                <p>Para ver los resultados de un análisis, seleccione el análisis deseado en el menú de la izquierda.</p>
            </div>
        </div>
    </div>
{% endblock %}