{% extends 'base.html' %}

{% load static %}

{%block title %} Registro Tabla R49{% endblock %}

{% block principal %}

{% block informacion% %}

<div class="container-fluid p-4">
    <div class="row">
        <div class="col-xl-12 mt-1">
            <div class="card card-default">
                <div class="card-header bg-gray-dark">
                    <h3 class="card-title">
                        <i class="fas fa-bullhorn"></i>

                        Información

                    </h3>
                </div>
                <!-- /.card-header -->

                <div class="card-body">
                    <div class="callout callout-info">
                        <h5>Reporte diario TX-HP-910-01-R49</h5>
                        <p>En esta sección se registra el volumen neto diario.</p>
                    </div>
                </div>
                <!-- /.card-body -->

            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- Agregar Formulario aqui -->
    <head> 
        <title>Crear registro R49</title> 
        </head> 
     
        <h5>Crear registro R49</h5> 
        <form method="post">
            {% csrf_token %} 
            {{ form.as_p }}
            <button type="submit">Submit</button> 
        </form>
</div>

 

{% endblock %}
{%block datatable%}
    
                            
<div class="container-fluid p-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-gray-dark">
                    <h3 class="card-title"></h3>
                </div>
                <div class="card-body bg-light">
                    <ul class="pagination pagination-month justify-content-center">
                        <li class="page-item"><a class="page-link" href="#">«</a></li>
                        <ul id="pagination" class="pagination pagination-month justify-content-center">
                            <li class="page-item"></li>
                            <!-- Los elementos de la lista para los meses se insertarán aquí -->
                            <li class="page-item"></li>
                        </ul>
                        <li class="page-item"><a class="page-link" href="#">»</a></li>
                    </ul>
                    <div class="col-xl-12 mt-3 p-3">
                        <div class="table-responsive">
                            <div class="d-flex justify-content-between mb-3">
                                <button class="btn btn-primary" style="font-size: 14px;"
                                    onclick="location.href='#';">Crear <i class="fas fa-plus"></i></button>
                                <div id="example_filter"></div>
                            </div>
                            <table id="example" class="table table-bordered bg-light table-hover" style="width:100%;">
                                <thead class="thead-light" style="font-size: 14px;">
                                    <tr>
                                        <th>Num Maquina</th>
                                        <th>Num Datos</th>
                                        <th>Promedio</th>
                                        <th>Desv_Est</th>
                                        <th>Maximo</th>
                                        <th>Minimo</th>
                                    </tr>
                                </thead>
                                <tbody style="font-size: 14px;">
                                    <tr>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>Edinburgh</td>
                                        <td>61</td>
                                        <td>2011-04-25</td>
                                        <td>$320,800</td>
                                    </tr>

                                    <tr>
                                        <td>Gloria Little</td>
                                        <td>Systems Administrator</td>
                                        <td>New York</td>
                                        <td>59</td>
                                        <td>2009-04-10</td>
                                        <td>$237,500</td>
                                    </tr>

                                    <tr>
                                        <td>Bradley Greer</td>
                                        <td>Software Engineer</td>
                                        <td>London</td>
                                        <td>41</td>
                                        <td>2012-10-13</td>
                                        <td>$132,000</td>

                                    </tr>
                                </tbody>

                                <tfoot style="font-size: 14px;">

                                    <tr>
                                        <th>Num Maquina</th>
                                        <th>Num Datos</th>
                                        <th>Promedio</th>
                                        <th>Desv_Est</th>
                                        <th>Maximo</th>
                                        <th>Minimo</th>
                                        <th style="display: flex; justify-content: center;">
                                            <button class="btn btn-success" style="font-size: 14px;"
                                                id="reporte">Generar
                                                reporte</button>
                                        </th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
    </div>
</div>

{%endblock%}
{% endblock %}
{% block javascript %}
{{ block.super }}

<!-- Script para inicializar DataTables -->

<script src="{% static 'js/datatables/datatable_init.js' %}"></script>

{% endblock %}