db.sqlite3
entornoVirtual
__pycache__/
*.pycache
.vscode/settings.json
almacen/__pycache__/__init__.cpython-311.pyc
almacen/__pycache__/admin.cpython-311.pyc
almacen/__pycache__/apps.cpython-311.pyc
almacen/__pycache__/models.cpython-311.pyc
almacen/__pycache__/urls.cpython-311.pyc
almacen/__pycache__/views.cpython-311.pyc
laboratorio_control_calidad/__pycache__/__init__.cpython-311.pyc
laboratorio_control_calidad/__pycache__/admin.cpython-311.pyc
laboratorio_control_calidad/__pycache__/apps.cpython-311.pyc
laboratorio_control_calidad/__pycache__/models.cpython-311.pyc
laboratorio_control_calidad/__pycache__/urls.cpython-311.pyc
laboratorio_control_calidad/__pycache__/views.cpython-311.pyc
mantenimiento/__pycache__/__init__.cpython-311.pyc
mantenimiento/__pycache__/admin.cpython-311.pyc
mantenimiento/__pycache__/apps.cpython-311.pyc
mantenimiento/__pycache__/models.cpython-311.pyc
mantenimiento/__pycache__/urls.cpython-311.pyc
mantenimiento/__pycache__/views.cpython-311.pyc
produccion/__pycache__/__init__.cpython-311.pyc
produccion/__pycache__/admin.cpython-311.pyc
produccion/__pycache__/apps.cpython-311.pyc
produccion/__pycache__/models.cpython-311.pyc
produccion/__pycache__/urls.cpython-311.pyc
produccion/__pycache__/views.cpython-311.pyc
sav-c/__pycache__/__init__.cpython-311.pyc
sav-c/__pycache__/settings.cpython-311.pyc
sav-c/__pycache__/urls.cpython-311.pyc
sav-c/__pycache__/wsgi.cpython-311.pyc
