{% extends 'base.html' %}
{% load static %}



{%block title %} Cabezales {% endblock %}

{% block principal %}
{% block informacion% %}
<div class="container-fluid p-4">
    <div class="row">
        <div class="col-xl-12 mt-1">
            <div class="card card-default">
                <div class="card-header bg-gray-dark">
                    <h3 class="card-title">
                        <i class="fas fa-bullhorn"></i>
                        Información
                    </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">

                    <div class="callout callout-info">
                        <h5>Registro de Cabezales</h5>
                        <p>En esta sección se presenta el listado de Cabezales.</p>
                    </div>

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->


    </div>
</div>
{% endblock %}

{%block datatable%}
<div class="container-fluid p-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header d-flex justify-content-center align-items-center bg-gray-dark">
                    <h3 class="card-title">Listado de lecherias</h3>
                </div>
                <div class="card-body bg-light">
                    <!-- Paginacion mensual-->
                    <!-- <ul class="pagination pagination-month justify-content-center">
                        <li class="page-item"><a class="page-link" href="#">«</a></li>
                        <ul id="pagination" class="pagination pagination-month justify-content-center">
                            <li class="page-item"></li>
                            <li class="page-item"></li>
                        </ul>
                        <li class="page-item"><a class="page-link" href="#">»</a></li>
                    </ul> -->
                    <div class="col-xl-12 mt-3 p-3">
                        <div class="table-responsive">
                            <div class="d-flex justify-content-between mb-3">
                                <button class="btn btn-primary" style="font-size: 14px;"
                                    onclick="location.href='{% url 'catalogos:añadir_lecheria'%}';">Añadir
                                    lecheria
                                    <i class="fas fa-plus"></i>
                                </button>
                                <div id="example_filter"></div>
                            </div>
                            <table id="catalogo_lecherias" class="table  table-bordered bg-light table-hover"
                                style="width:100%;">
                                <thead class="thead-light" style="font-size: 14px;">
                                    <tr>
                                        <th>Ruta</th>
                                        <th>Número de lecheria</th>
                                        <th>Nombre de lecheria</th>
                                        <th>Responsable</th>
                                        <th>Teléfono</th>
                                        <th>Dirección</th>
                                        <th>Número de ruta</th>
                                        <th>Poblacion</th>
                                        <th>Rotos reportados</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tfoot style="font-size: 14px;">
                                    <tr>
                                        <th>Ruta</th>
                                        <th>Número de lecheria</th>
                                        <th>Nombre de lecheria</th>
                                        <th>Responsable</th>
                                        <th>Teléfono</th>
                                        <th>Dirección</th>
                                        <th>Número de ruta</th>
                                        <th>Poblacion</th>
                                        <th>Rotos reportados</th>
                                        <th>Opciones</th>

                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

    </div>
</div>





{%endblock%}



{% endblock %}


{% block javascript %}
{{ block.super }}

<!-- Script para inicializar DataTables -->
<script src="{% static 'js/datatables/datatable_init.js' %}"></script>



{% endblock %}