{% extends 'base.html' %}
{% load static %}



{%block title %} Devolución de envases rotos {% endblock %}

{% block principal %}
{% block informacion% %}
<div class="container-fluid p-4">
    <div class="row">
        <div class="col-xl-12 mt-1">
            <div class="card card-default">
                <div class="card-header bg-gray-dark">
                    <h3 class="card-title">
                        <i class="fas fa-bullhorn"></i>
                        Información
                    </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">

                    <div class="callout callout-info">
                        <h5>Devolución de envases rotos</h5>
                        <p>En esta sección se presentan los resultados de envases rotos.</p>
                        <p>Para ver los resultados de un análisis, seleccione el análisis deseado en el menú de la
                            izquierda.</p>
                    </div>

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->


    </div>
</div>
{% endblock %}

{%block datatable%}
<div class="container-fluid p-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header d-flex justify-content-center align-items-center bg-gray-dark">
                    <h3 class="card-title">Envases rotos</h3>
                </div>
                <div class="card-body bg-light">
                    <!-- Paginacion mensual-->
                    <div class="d-flex flex-wrap justify-content-center">
                        <ul class="pagination pagination-month">
                            <li class="page-item"><a class="page-link" href="#">«</a></li>
                            <ul id="pagination" class="pagination pagination-month">
                                <li class="page-item"></li>
                                <li class="page-item"></li>
                            </ul>
                            <li class="page-item"><a class="page-link" href="#">»</a></li>
                        </ul>
                    </div>
                    <div class="col-xl-12 mt-3 p-3">
                        <div class="table-responsive">
                            <!-- <div class="d-flex justify-content-between mb-3">
                                <button class="btn btn-primary" style="font-size: 14px;"
                                    onclick="location.href='{% url 'producto_no_conforme:muestreo_rotos' %}';">Crear
                                    evaluación
                                    <i class="fas fa-plus"></i>
                                </button>
                                <div id="example_filter"></div>
                            </div> -->
                            <table id="rotos" class="table  table-bordered bg-light table-hover" style="width:100%;">
                                <thead class="thead-light" style="font-size: 14px;">
                                    <tr>
                                        <th>Ruta</th>
                                        <th>Número de lecheria</th>
                                        <th>Nombre de lecheria</th>
                                        <th>Responsable</th>
                                        <th>Teléfono</th>
                                        <th>Dirección</th>
                                        <th>Poblacion</th>
                                        <th>Rotos reportados</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tfoot style="font-size: 14px;">
                                    <tr>
                                        <th>Ruta</th>
                                        <th>Número de lecheria</th>
                                        <th>Nombre de lecheria</th>
                                        <th>Responsable</th>
                                        <th>Teléfono</th>
                                        <th>Dirección</th>
                                        <th>Poblacion</th>
                                        <th>Rotos reportados</th>
                                        <th style="display: flex; justify-content: center;">
                                            <button class="btn btn-success" style="font-size: 14px;"
                                                id="reporte">Generar
                                                reporte</button>
                                        </th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

    </div>
</div>
{%endblock%}



{% endblock %}


{% block javascript %}
{{ block.super }}

<!-- Script para inicializar DataTables -->
<script src="{% static 'js/datatables/datatable_init.js' %}"></script>
<!-- Script para paginacion mensual-->
<script>
    var date = new Date();
    var year = date.getFullYear();
    var monthNames = ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"];
    var pagination = document.getElementById('pagination');

    monthNames.forEach(function (month) {
        var li = document.createElement('li');
        li.className = 'page-item';

        var a = document.createElement('a');
        a.className = 'page-link';
        a.href = '#';

        var pMonth = document.createElement('p');
        pMonth.className = 'page-month';
        pMonth.textContent = month;

        var pYear = document.createElement('p');
        pYear.className = 'page-year';
        pYear.textContent = year;

        a.appendChild(pMonth);
        a.appendChild(pYear);
        li.appendChild(a);
        pagination.insertBefore(li, pagination.lastChild);
    });
</script>
{% endblock %}