{% extends 'base.html' %}
{% load static %}



{%block title %} Silos {% endblock %}

{% block principal %}
{% block informacion% %}
<div class="container-fluid p-4">
    <div class="row">
        <div class="col-xl-12 mt-1">
            <div class="card card-default">
                <div class="card-header bg-gray-dark">
                    <h3 class="card-title">
                        <i class="fas fa-bullhorn"></i>
                        Información
                    </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">

                    <div class="callout callout-info">
                        <h5>Registro de Silos</h5>
                        <p>En esta sección se presenta el listado de Silos.</p>
                    </div>

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->


    </div>
</div>
{% endblock %}

{%block datatable%}
<div class="container-fluid p-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header d-flex justify-content-center align-items-center bg-gray-dark">
                    <h3 class="card-title">Listado de Silos</h3>
                </div>
                <div class="card-body bg-light">
                    <!-- Paginacion mensual-->
                    <!-- <ul class="pagination pagination-month justify-content-center">
                        <li class="page-item"><a class="page-link" href="#">«</a></li>
                        <ul id="pagination" class="pagination pagination-month justify-content-center">
                            <li class="page-item"></li>
                            <li class="page-item"></li>
                        </ul>
                        <li class="page-item"><a class="page-link" href="#">»</a></li>
                    </ul> -->
                    <div class="col-xl-12 mt-3 p-3">
                        <div class="table-responsive">
                            <div class="d-flex justify-content-between mb-3">
                                <button id="btnAddSilo" class="btn btn-primary">
                                    Añadir Silo
                                    <i class="fas fa-plus"></i>
                                </button>                                
                                <div id="example_filter"></div>
                            </div>
                            <table id="tabla_silos" class="table  table-bordered bg-light table-hover"
                                style="width:100%;">
                                <thead class="thead-light" style="font-size: 14px;">
                                    <tr>
                                        <th>Número de Silo</th>
                                        <th>Capacidad</th>
                                        <th>Nombre de producto</th>
                                        <th>Nombre de planta</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tfoot style="font-size: 14px;">
                                    <tr>
                                        <th>Número de Silo</th>
                                        <th>Capacidad</th>
                                        <th>Nombre de producto</th>
                                        <th>Nombre de planta</th>
                                        <th>Opciones</th>

                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

    </div>
</div>

<!-- Modal para añadir/editar silo -->
<div class="modal fade" id="siloModal" tabindex="-1" role="dialog" aria-labelledby="siloModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="siloModalLabel">Añadir Silo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="siloForm">
                    <div class="form-group">
                        <label for="numeroSilo">Número de Silo</label>
                        <input type="text" class="form-control" id="numeroSilo" name="numero" required>
                    </div>
                    <div class="form-group">
                        <label for="capacidadSilo">Capacidad</label>
                        <input type="text" class="form-control" id="capacidadSilo" name="capacidad" required>
                    </div>
                    <div class="form-group">
                        <label for="productoSilo">Producto</label>
                        <div class="input-group">
                            <select class="form-control" id="productoSilo" name="producto" required></select>
                            <div class="input-group-append">
                                <button type="button" class="btn btn-secondary" id="btnAddProducto">Añadir Producto</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="plantaSilo">Planta</label>
                        <div class="input-group">
                            <select class="form-control" id="plantaSilo" name="planta" required></select>
                            <div class="input-group-append">
                                <button type="button" class="btn btn-secondary" id="btnAddPlanta">Añadir Planta</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="saveSilo">Guardar Silo</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal para añadir/editar producto -->
<div class="modal fade" id="productoModal" tabindex="-1" role="dialog" aria-labelledby="productoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productoModalLabel">Añadir Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="productoForm">
                    <input type="hidden" id="productoId" name="producto_id">
                    <div class="form-group">
                        <label for="nombreProducto">Nombre del Producto</label>
                        <input type="text" class="form-control" id="nombreProducto" name="nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="tipoProducto">Tipo de Producto</label>
                        <div class="input-group">
                            <select class="form-control" id="tipoProducto" name="tipo_producto_id" required>
                                <!-- Opciones se cargarán dinámicamente -->
                            </select>
                            <div class="input-group-append">
                                <button type="button" class="btn btn-secondary" id="btnAddTipoProducto">Añadir Tipo de Producto</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="saveProducto">Guardar Producto</button>
            </div>
        </div>
    </div>
</div>

    <!-- Modal para añadir tipo de producto -->
    <div class="modal fade" id="tipoProductoModal" tabindex="-1" role="dialog" aria-labelledby="tipoProductoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="tipoProductoModalLabel">Añadir Tipo de Producto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="tipoProductoForm">
                        <div class="form-group">
                            <label for="nombreTipoProducto">Nombre de Tipo de Producto</label>
                            <input type="text" class="form-control" id="nombreTipoProducto" name="nombre" required>
                        </div>
                        <div class="form-group">
                            <label for="descripcionTipoProducto">Descripción</label>
                            <input type="text" class="form-control" id="descripcionTipoProducto" name="descripcion" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="saveTipoProducto">Guardar Tipo de Producto</button>
                </div>
            </div>
        </div>
    </div>


<!-- Modal para añadir/editar planta -->
<div class="modal fade" id="plantaModal" tabindex="-1" aria-labelledby="plantaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="plantaModalLabel">Añadir Planta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="plantaForm">
                    <input type="hidden" id="plantaId" name="id">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                    </div>
                    <div class="mb-3">
                        <label for="ubicacion" class="form-label">Ubicación</label>
                        <input type="text" class="form-control" id="ubicacion" name="ubicacion" required>
                    </div>
                    <div class="mb-3">
                        <label for="correo" class="form-label">Correo</label>
                        <input type="email" class="form-control" id="correo" name="correo" required>
                    </div>
                    <div class="mb-3">
                        <label for="contacto" class="form-label">Contacto</label>
                        <input type="text" class="form-control" id="contacto" name="contacto" required>
                    </div>
                    <div class="mb-3">
                        <label for="telefono" class="form-label">Teléfono</label>
                        <input type="text" class="form-control" id="telefono" name="telefono" required>
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="savePlanta">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>  

{%endblock%}



{% endblock %}


{% block javascript %}
{{ block.super }}

<!-- Script para inicializar DataTables -->
<script src="{% static 'js/datatables/datatable_silos.js' %}"></script>



{% endblock %}