{% extends 'base.html' %}
{% block title %}Registro de Peso Bruto{% endblock %}
{% block principal %}
{% block informacion %}

<div class="container-fluid p-4">
    <div class="row">
        <div class="col-xl-12 mt-1">
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-info"></i>
                        Crear registro del peso bruto
                    </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Guardar</button>
                    </form>
                </div>    
                <div class="callout callout-info">
                      
                        <p>En esta sección se realiza el registro del peso bruto.</p>

                        <p>Ingresa los datos y oprime guardar.</p>
                </div>
               
            </div>
        </div>
    </div>
</div>
{%endblock%}
{% endblock %}