{% extends 'base.html' %}
{% block title %}Producto terminado{% endblock %}
{% block principal %}
{% block informacion%}
   


<div class="container-fluid p-4">
    <div class="row">
        <div class="col-xl-12 mt-1">
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-bullhorn"></i>
                        Información
                    </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">

                    <div class="callout callout-info">
                        <h5>Devolución de envases mal sellados</h5>
                        <p>En esta sección se presentan la Verificacion de documentos.</p>
                        <p>Para ver los resultados seleccione un documento deseado en el menú de la izquierda.</p>
                    </div>

                    {% block contenido %}
                    <form action="" method="post">
                        {% csrf_token %}
                        <h2>Seguro de eliminar el registro?</h2>
                        <button type="submit" class="btn btn-danger">Si, eliminar</button>
                        <a href="{% url 'producto_no_conforme:ms_encabView' %}" class="btn btn-success">No, Cancelar</a>
                    </form>
                {% endblock %}

                </div> 
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->

        


    </div>
</div>
    {%endblock%}
{% endblock %}