{% extends 'base.html' %}
{% block title %}Registro de envase vacio R49{% endblock %}
{% block principal %}

{% block contenido %}
    <form action="" method="post">
        {% csrf_token %}
        <h2>Seguro de eliminar el registro : {{ pesoenvvacior49.hora}}?</h2>
        <button type="submit" class="btn btn-danger">Si, eliminar</button>
        <a href="{% url 'laboratorio_control_calidad:pesoenvvacio_List' %}" class="btn btn-success">No, Cancelar</a>
    </form>
{% endblock %}
{% endblock %}