{% extends 'base.html' %}
{% load static %}

{% block principal %}
<section class="content">
    <div class="container-fluid">
        <br>
        <br>
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Genera Un Nuevo Registro</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="col-xl-12 mt-3 p-3">
                    <div class="table-responsive">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <form id="formulario" action="" method="post">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    {{ form.folio.label_tag }}
                                                    {{ form.folio }}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    {{ form.periodo_Ini.label_tag }}
                                                    {{ form.periodo_Ini }}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    {{ form.periodo_Fin.label_tag }}
                                                    {{ form.periodo_Fin }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form.observaciones.label_tag }}
                                                    {{ form.observaciones }}
                                                </div>
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-success mr-2" name="submit-encab-form">Guardar</button>
                                        <a href="{% url 'laboratorio_control_calidad:Leche_Recons_Silos_List' %}" class="btn btn-danger mr-2">Cancelar</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                        
                            <table class="table table-hover text-nowrap dataTable no-footer dtr-inline collapsed" id="example1" aria-describedby="example1_info">
                                <thead class="thead-light" style="font-size: 14px">
                                    <tr>
                                        <th>Id</th>
                                        <th>Hora</th>
                                        <th>Numero de Silo</th>
                                        <th>Tipo de Producto</th>
                                        <th>Volumen</th>
                                        <th>Aspecto</th>
                                        <th>Sabor</th>
                                        <th>Olor</th>
                                        <th>Temperatura</th>
                                        <th>PH</th>
                                        <th>Acidez</th>
                                        <th>Densidad</th>
                                        <th>sgwv</th>
                                        <th>s_n_g_Stsg_wv</th>
                                        <th>st_wv</th>
                                        <th>proteina</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody id="formularios-body" style="font-size: 14px">
                                    {% for silo in silos %}
                                        <tr>
                                            <td>{{ silo.id }}</td>
                                            <td>{{ silo.fecha_Hora }}</td>
                                            <td>{{ silo.silo }}</td>
                                            <td>{{ silo.producto }}</td>
                                            <td>{{ silo.volumen }}</td>
                                            <td>{{ silo.aspecto }}</td>
                                            <td>{{ silo.sabor }}</td>
                                            <td>{{ silo.olor }}</td>
                                            <td>{{ silo.temperatura }}</td>
                                            <td>{{ silo.ph }}</td>
                                            <td>{{ silo.acidez }}</td>
                                            <td>{{ silo.densidad }}</td>
                                            <td>{{ silo.s_g_w_v }}</td>
                                            <td>{{ silo.s_n_g_Stsg_wv }}</td>
                                            <td>{{ silo.st_wv }}</td>
                                            <td>{{ silo.proteina }}</td>
                                            <td>
                                                <a href="?silo_id={{ silo.id }}" class="btn btn-warning"><i class="fa fa-pencil"></i></a>
                                                <a class="btn btn-danger" href="{% url 'laboratorio_control_calidad:Leche_Recons_Silos_Delete_Silo' silo.id %}"><i class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                            
                                <!-- Botón para agregar un nuevo registro -->
                                <div>
                                    <a href="?silo_id=" class="btn btn-info mr-2" data-toggle="modal" data-target="#modal-xl">Agregar Registro</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
</section>

<!-- Modal para agregar/editar registro -->
<div class="modal fade {% if edit_mode %}show d-block{% endif %}" id="modal-xl">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{% if edit_mode %}Editar Registro{% else %}Nuevo Registro{% endif %}</h4>
                <a href="{{ request.path }}" class="close">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
            <form method="post" action="">
                {% csrf_token %}
                {% if edit_mode %}
                    <input type="hidden" name="silo_id" value="{{ nuevo_form.instance.id }}">
                {% endif %}
                <div class="modal-body">
                    {% if nuevo_form.errors %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for field in nuevo_form %}
                                    {% for error in field.errors %}
                                        <li>{{ field.label }}: {{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in nuevo_form.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                {{ nuevo_form.fecha_Hora.label_tag }}
                                {{ nuevo_form.fecha_Hora }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                {{ nuevo_form.silo.label_tag }}
                                {{ nuevo_form.silo }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                {{ nuevo_form.producto.label_tag }}
                                {{ nuevo_form.producto }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                {{ nuevo_form.volumen.label_tag }}
                                {{ nuevo_form.volumen }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                {{ nuevo_form.aspecto.label_tag }}
                                {{ nuevo_form.aspecto }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                {{ nuevo_form.sabor.label_tag }}
                                {{ nuevo_form.sabor }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                {{ nuevo_form.olor.label_tag }}
                                {{ nuevo_form.olor }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                {{ nuevo_form.temperatura.label_tag }}
                                {{ nuevo_form.temperatura }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                {{ nuevo_form.ph.label_tag }}
                                {{ nuevo_form.ph }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                {{ nuevo_form.acidez.label_tag }}
                                {{ nuevo_form.acidez }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                {{ nuevo_form.densidad.label_tag }}
                                {{ nuevo_form.densidad }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                {{ nuevo_form.s_g_w_v.label_tag }}
                                {{ nuevo_form.s_g_w_v }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                {{ nuevo_form.s_n_g_Stsg_wv.label_tag }}
                                {{ nuevo_form.s_n_g_Stsg_wv }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                {{ nuevo_form.st_wv.label_tag }}
                                {{ nuevo_form.st_wv }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                {{ nuevo_form.proteina.label_tag }}
                                {{ nuevo_form.proteina }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                {{ nuevo_form.encabezado.label_tag }}
                                {{ nuevo_form.encabezado }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="submit" class="btn btn-primary" name="submit-nuevo-form">Guardar</button>
                    <a href="{{ request.path }}" class="btn btn-default" data-dismiss="modal">Cerrar</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
