{% extends 'base.html' %}
{% load static %}
{% block title %}Leche Reonstituida Por Silos{% endblock %}

{% block principal %}
{% block informacion %}

<div class="container-fluid p-4">
    <div class="row">
        <div class="col-xl-12 mt-1">
            <div class="card card-default">
                <div class="card-header bg-gray-dark">
                    <h3 class="card-title">
                        <i class="fas fa-bullhorn"></i>
                        Información
                    </h3>
                </div>
                <div class="card-body">
                    <div class="callout callout-info">
                        <h5>Leche Reonstituida Por Silos</h5>
                        <p>
                            En esta sección se presentan los resultados de los análisis Leche
                            Reonstituida Por Silos.
                        </p>
                        <p>
                            Para ver los resultados de un análisis, seleccione el análisis
                            deseado en el menú de la izquierda.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block datatable %}
<div class="container-fluid p-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-gray-dark">
                    <h3 class="card-title"></h3>
                </div>
                <div class="card-body bg-light">
                    <div class="col-xl-12 mt-3 p-3">
                        <div class="table-responsive">
                            <div class="d-flex justify-content-start mb-3">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-default">
                                    Nuevo Registro
                                </button>

                                

                                <button type="button" class="btn btn-info mr-2" data-toggle="modal" data-target="#modal-default1">
                                    Generar Reporte Rango de Fechas
                                </button>

                                <div id="example_filter"></div>
                            </div>
                            <table class="table table-hover text-nowrap dataTable no-footer dtr-inline collapsed" id="example1" aria-describedby="example1_info">
                                <thead class="thead-light" style="font-size: 14px">
                                    <tr>
                                        <th>Foio</th>
                                        <th>Periodo Inicial</th>
                                        <th>Periodo Final</th>
                                        <th>Observaciones</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody style="font-size: 14px">
                                    {% for item in LecheReconsSilosEncab %}
                                    <tr>
                                        <td>{{ item.folio }}</td>
                                        <td>{{ item.periodo_Ini }}</td>
                                        <td>{{ item.periodo_Fin }}</td>
                                        <td>{{ item.observaciones }}</td>
                                        
                                        <td>
                                            <a class="btn btn-warning" href="{% url 'laboratorio_control_calidad:Leche_Recons_Silos_Update' item.id %}"><i class="fa fa-pencil"></i></a>
                                            <a class="btn btn-danger" href="{% url 'laboratorio_control_calidad:Leche_Recons_Silos_Encab_Delete' item.id %}"><i class="fa fa-trash"></i></a>
                                        
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row"></div>
</div>



<!-- /.modal encabezado -->
<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Agrega un Nuevo Folio</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="">
                {% csrf_token %}
                <div class="modal-body">
                    <!-- Mostrar errores del formulario -->
                    {% if encab.errors %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for field in encab %}
                                    {% for error in field.errors %}
                                        <li>{{ field.label }}: {{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in encab.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                                           
                            <div class="form-group">
                                {{ encab.folio.label_tag }}
                                {{ encab.folio }}
                            </div>
                        
                        
                            <div class="form-group">
                                {{ encab.periodo_Ini.label_tag }}
                                {{ encab.periodo_Ini }}
                            </div>
                        
                        
                            <div class="form-group">
                                {{ encab.periodo_Fin.label_tag }}
                                {{ encab.periodo_Fin }}
                            </div>

                            <div class="form-group">
                                {{ encab.observaciones.label_tag }}
                                {{ encab.observaciones }}
                            </div>
                        
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<!-- /.modal registro -->
<div class="modal fade" id="modal-xl">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Nuevo Registro</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="">
                {% csrf_token %}
                <div class="modal-body">
                    <!-- Mostrar errores del formulario -->
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <li>{{ field.label }}: {{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                {{ form.fecha_Hora.label_tag }}
                                {{ form.fecha_Hora }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                {{ form.silo.label_tag }}
                                {{ form.silo }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                {{ form.producto.label_tag }}
                                {{ form.producto }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                {{ form.volumen.label_tag }}
                                {{ form.volumen }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                {{ form.aspecto.label_tag }}
                                {{ form.aspecto }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                {{ form.sabor.label_tag }}
                                {{ form.sabor }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                {{ form.olor.label_tag }}
                                {{ form.olor }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                {{ form.temperatura.label_tag }}
                                {{ form.temperatura }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                {{ form.ph.label_tag }}
                                {{ form.ph }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                {{ form.acidez.label_tag }}
                                {{ form.acidez }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                {{ form.densidad.label_tag }}
                                {{ form.densidad }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                {{ form.s_g_w_v.label_tag }}
                                {{ form.s_g_w_v }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                {{ form.s_n_g_Stsg_wv.label_tag }}
                                {{ form.s_n_g_Stsg_wv }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                {{ form.st_wv.label_tag }}
                                {{ form.st_wv }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                {{ form.proteina.label_tag }}
                                {{ form.proteina }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                {{ form.encabezado.label_tag }}
                                {{ form.encabezado }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<!-- /.modal reporte rango de fechas-->
<div class="modal fade" id="modal-default1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Selecciona el rango de fechas del reporte</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="get" action="{% url 'reportes:reporte_Rx50' 1 %}">
        <div class="modal-body">
            {% csrf_token %}
            <div class="form-group">
                <label for="fecha-inicial">Fecha Inicial</label>
                <input type="date" class="form-control" id="fecha-inicial" name="fecha-inicial" required>
            </div>
            <div class="form-group">
                <label for="fecha-final">Fecha Final</label>
                <input type="date" class="form-control" id="fecha-final" name="fecha-final" required>
            </div>
            <div class="form-group">
                <label for="producto">Producto</label>
                <select class="form-control" id="producto" name="producto" required>
                    <option value="todos">Todos</option>
                    <option value="1">LPD</option>
                    <option value="2">MLGVRG</option>
                </select>
            </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Generar Reporte</button>
        </div>
        </form>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


{% endblock %}
{% endblock %}