{% extends 'base.html' %}
{% load static %}

{% block principal %}


<div class="container-fluid">
  <!-- SELECT2 EXAMPLE -->

  <div class="card card-default">
    <div class="card-header">
      <h3 class="card-title">Genera Un Nuevo Registro</h3>
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
          <i class="fas fa-minus"></i>
        </button>
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <form action="" method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-success">Guardar</button>
              <a href="{% url 'laboratorio_control_calidad:Leche_Recons_Silos_List' %}"
                class="btn btn-danger">Cancelar</a>
            </form>
          </div>
          <!-- /.card-body -->
         
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</div>
    {% endblock %}